/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Vazir";
    src: local("Vazir"), url(./assets/fonts/Vazir.ttf) format("truetype");
}

.vazir{
    font-family: "Vazir";
}

.member-tabset {
    display: flex;
    justify-content: flex-start;
}
  