
    <div  class="d-flex flex-column flex-md-row align-items-center justify-content-between
     p-3 px-md-4 mb-3 navbar-dark  border-bottom shadow-sm fixed-top">
        <img src="/assets/images/logo.png" alt="logo" style="max-height: 90px;">
        <nav class="my-2 my-md-0 me-md-3" style="max-height: 90px;" >
          <a class="p-2 text-white" routerLink='/'>Home</a>
          <a class="p-2 text-white" routerLink='/errors'>errors</a>
          <a class="p-2 text-white" routerLink = '/admin'>Admin</a>
        </nav>
        <div class="d-flex align-items-center" >
            <div class="d-flex align-items-center vazir" *ngIf="(accountService.currentUser$ | async) === null"> 
               
                <a class="btn btn-success mr-2" routerLink='login' >ورود</a>
                <a class="btn btn-primary mr-3" routerLink='register'>ثبت نام</a>
            </div>

            <div class="dropdown"*ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <a class="position-relative">
                    <i class="fa fa-shopping-cart fa-2x mr-5 text-white" aria-hidden="true"></i>
                    <div class="cart-no" style="padding-top: 2px;">5</div>
                </a>
                <a class="dropdown-toggle text-white" dropdownToggle >Welcome {{user.username}} <i class="fa fa-user-circle-o fa-2x" ></i></a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logOut()">Logout</a>
                </div>
               
            </div>
            
        </div>
       
    </div>
